@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

.mainheading {
	padding:1rem 0rem;
}

.mediumnavigation {
	background:rgba(255, 255, 255, 0.97);
	box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
}
section {
	margin-bottom:0px;
}
.section-title h2 {
	border-bottom:1px solid rgba(0,0,0,.15);
	margin-bottom:25px;
	font-weight:700;
	font-size:1.4rem;
	margin-bottom:27px;
}
.section-title span {
	border-bottom:1px solid rgba(0,0,0,.44);
	display:inline-block;
	padding-bottom:20px;
	margin-bottom:-1px;
}
.centrado{
	font-weight:500;
	text-align:center;
	margin-bottom: 40px;
}
textarea, input[type="text"]{
	width: 100%;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.171);
}
input[type="text"]{
	font-size:28px;
	font-weight: 550;
	font-family: 'EB Garamond', serif;
	width: 100%;
	padding: 10px 0;
	color: rgb(12, 19, 59);
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
textarea{
	
	width: 100%;
	font-size: 16px;
	color: rgb(41, 54, 97);
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
textarea:focus{
	border: 1px solid rgba(47, 64, 121, 0.555);
}

h6{
	color:rgba(0,0,0,.44);
	font-size:0.95rem;
	line-height:1.4;
	font-weight:400;
}




@media (min-width:576px) {
	.card-columns.listfeaturedtag {
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
	}
}
@media (min-width:992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right:.7rem;
		padding-left:.7rem;
	}
}
.card-columns .card {
	margin-bottom: 20px;
	
}

.listfeaturedtag .wrapthumbnail {
	height:258px;
	flex:0 0 auto;
}
.listfeaturedtag .card {
	border:1px solid rgba(0,0,0,.1);
	border-radius:40px;
	height:260px;
	padding-left:0;
	margin-bottom:15px;
}
.listfeaturedtag .thumbnail {
	background-size:cover;
	height:100%;
	display:block;
	background-position:38% 22% !important;
	background-origin:border-box!important;
	border-radius: 20px 0px 0px 20px;
}
.listfeaturedtag .card-block {
	padding-left:0;
}
.listfeaturedtag h2.card-title,.listrecent h2.card-title {
	font-size:1.3rem;
	font-weight:700;
	line-height: 1.25;
}
.listfeaturedtag h2.card-title a,.listrecent h2.card-title a {
	color:rgba(0,0,0,.8);
}
.listfeaturedtag h2.card-title a:hover,.listrecent h2.card-title a:hover {
	color:rgba(0,0,0,.6);
	text-decoration:none;
}
.listfeaturedtag h4.card-text,.listrecent h4.card-text {
	color:rgba(0,0,0,.44);
	font-size:0.95rem;
	line-height:1.4;
	font-weight:400;
}
.listfeaturedtag .wrapfooter {
	position:absolute;
	bottom:20px;
	font-size:12px;
	display:block;
	width:85%;
}
.listrecent .wrapfooter {
	font-size:12px;
	margin-top:30px;
}
.author-thumb {
	width:40px;
	height:40px;
	float:left;
	margin-right:13px;
	border-radius:100%;
}
.post-top-meta {
	margin-bottom:2rem;
}
.post-top-meta .author-thumb {
	width:72px;
	height:72px;
}
.post-top-meta.authorpage .author-thumb {
	margin-top:40px;
}
.post-top-meta span {
	font-size:0.9rem;
	color:rgba(0,0,0,.44);
	display:inline-block;
}
.post-top-meta .author-description {
	margin-bottom:5px;
	margin-top:5px;
	font-size:0.95rem;
}
.author-meta {
	flex:1 1 auto;
	white-space:nowrap!important;
	text-overflow:ellipsis!important;
	overflow:hidden!important;
}
span.post-name,span.post-date,span.author-meta {
	display:inline-block;
}
span.post-date,span.post-read {
	color:rgba(0,0,0,.44);
}
span.post-read-more {
	align-items:center;
	display:inline-block;
	margin-top:8px;
}
span.post-read-more a {
	color:rgba(0,0,0,.44);
}
span.post-name a,span.post-read-more a:hover {
	color:rgba(0,0,0,.8);
}
.dot:after {
	content:"·";
	margin-left:3px;
	margin-right:3px;
}
.mediumnavigation .form-control {
	font-size:0.8rem;
	border-radius:30px;
	overflow:hidden;
	border:1px solid rgba(0,0,0,0.04);
}
.mediumnavigation .form-inline {
	margin-left:15px;
}
.mediumnavigation .form-inline .btn {
	margin-left:-50px;
	border:0;
	border-radius:30px;
	cursor:pointer;
}
.mediumnavigation .form-inline .btn:hover,.mediumnavigation .form-inline .btn:active {
	background:transparent;
	color:green;
}
.mediumnavigation .navbar-brand {
	font-weight:500;
}
.mediumnavigation .dropdown-menu {
	border:1px solid rgba(0,0,0,0.08);
	margin:.5rem 0 0;
}
.mediumnavigation .nav-item,.dropdown-menu {
	font-size:0.9rem;
}
.mediumnavigation .search-icon {
	margin-left:-40px;
	display:inline-block;
	margin-top:3px;
	cursor:pointer;
}
.mediumnavigation .navbar-brand img {
	max-height:30px;
	margin-right:5px;
}
.mainheading h1.sitetitle {
	font-family:Righteous;
}
.mainheading h1.posttitle {
	font-weight:700;
	margin-bottom:1rem;
}
.footer {
	border-top:1px solid rgba(0,0,0,.05)!important;
	padding-top:15px;
	padding-bottom:12px;
	font-size:0.8rem;
	color:rgba(0,0,0,.44);
	margin-top:50px;
}

.article-post p,.article-post blockquote {
	margin:0 0 1.5rem 0;
}
.btn-eliminar{
	position: absolute;
	right: 0;
	bottom: 0;
}
@media (min-width:1024px) {
	
	.share {
		position:fixed;
		display:block;
	}
	.share ul li {
		display:block;
	}
}
img{
	border-radius: 10px;
}
@media (max-width:999px) {

	p{
		display: block !important;	
	}
.class img{
		display: block !important;
  width: 100% !important;
	}
	.listfeaturedtag .wrapthumbnail, .listfeaturedtag .col-md-7 {
		width:100%;
		max-width:100%;
		-webkit-box-flex: 0;
		-webkit-flex: 100%;
		-ms-flex: 100%;
		flex: 100%;
	}
	.listfeaturedtag .wrapthumbnail {
		height:250px;
	}
	.listfeaturedtag .card {
		height:auto;
	}
	.listfeaturedtag .wrapfooter {
		position:relative;
		margin-top:30px;
	}
	.listfeaturedtag .card-block {
		padding:20px;
	}
	.listfeaturedtag .thumbnail {
		border-radius: 20px 20px 0px 0px;
	}

}
@media (max-width:1024px) {
	.post-top-meta .col-md-10 {
		text-align:center;
	}
	.story-contents.w-full{
		display: block !important;
		padding: 0px !important;
		margin: 0px !important;
	}
}
@media (max-width:767px) {
	.post-top-meta.authorpage {
		text-align:center;
	}
	.story-contents.w-full{
		display: block !important;
		padding: 0px !important;
		margin: 0px !important;
	}
}






* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  body {
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
  }
  
  body.dark {
	background: rgba(28,33,40,255);
  }
  body.dark .mediumnavigation {
	background:rgb(48,52,60);
  }
  body.dark .nav-link{
	  color: #F1F1F1 !important;
  }
  body.dark .mainheading{
	  color: #F1F1F1 !important;
  }

  body.dark .section-title{
	color: #F1F1F1 !important;
}


  .contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 50px 0;
  }

  
  .switch {
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	outline: none;
  }
  
  .switch::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #F1F1F1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .switch.active {
	background: orange;
	color: rgba(0, 0, 0, 0);
  }
  
  .switch.active::after {
	right: 0;
	left: unset;
  }
  
  .switch span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff !important;
  }

#big-thumb{
	margin-top: 20px !important;
    object-fit: cover;
    width: 165px;
    height: 165px;
    border-radius: 100px;
}
#uploadProfile{
	position: absolute !important;
	top:222px;
	left: 55px;
}

#uploadProfile{
	position: absolute !important;
	top:222px;
	left: 55px;
}


.Ecambios {
	padding: 0px 20px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgba(0, 12, 65, 0.863);
    background-color: rgb(226, 233, 255);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    height: 50px;
	color: rgb(14, 15, 92);
   }
   
   .Ecambios:hover {
    background-color: #2ee537;
    box-shadow: 0px 15px 20px rgba(46, 229, 128, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .Ecambios :active {
    transform: translateY(-1px);
   }
   #borrar{
	background-color: rgb(112, 7, 25);
   }
   #borrar:hover{
	background-color: #c00e0e;
	box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}